<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-59P6298');</script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6GSFMD82ME"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6GSFMD82ME');
    </script>
    <!-- End Google Tag Manager -->


    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン,Hofbräu Hefe Weizen,バイエルン州,ヴァイツェン,ドイツビール,通信販売">
    <meta name="description" content="1612年バイエルン王国時代に２００年間、王室が独占的に醸造を行い400年近くたった今も美味しさと人気を誇るミュンヘンNo.1のヴァイスビール。
厳選吟味した繊細で上質な小麦麦芽と良質なホップのシャープでスパイシーな味わいは、まさにヴァイスビールの王様です。少し濁った琥珀色。バナナのようでもあり、かつスパイシーなアロマを使用しています。ミディアムボディーな仕上がりで、苦味が少ないのが特徴です。
※画像はイメージとなり、グラスは付きません。

▼ホフブロイ専用グラス・ジョッキもご用意しておりますので、ご覧ください！
　専用グラス：「300ml」
「500ml」

　専用ジョッキ：「300ml」
「500ml」
「1000ml」

◎ケース売りは→「 こちら 」となります。

※こちらのページはバラ売り専用となっており、本数は1本から承ることが出来ます。(同一梱包が可能な場合送料は自動調整されます。)

※賞味期限：製造日から12ヶ月
、国内最大級の取り扱い数のドイツビール通販サイト「BIER.JP」">
    <title>【ドイツビールのbier.jp】: 【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン　Hofbräu Hefe Weizen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="shortcut icon" href="/images/misc/favicon.ico" />
    <meta http-equiv="Content-Style-Type" content="text/css">
    <link rel="stylesheet" href="/static/css/style.css?14342189" type="text/css">

    <style type="text/css">
        <!--
        div.container {
            /*max-width: 950px;*/
            width: 95%;
            padding: 0px;
            margin-top: 20px;
        }

        div.container2 {
            border-top: 1px solid #AAAAAA;
            padding: 0px;
            margin: 20px;
        }

        td.iteminfo {
            padding-bottom: 10px;
            vertical-align: baseline;
        }

        td.column_spec {
            padding: 10px 0 0 0;
            margin: 0;
        }

        td.spec_column {
            font-size: 16px;
        }

        div.putonthecart {
            padding: 3%;
            position: relative;
            float: right;
            background: url("/images/misc/background_cart_bg.gif") #DADBDE repeat-x 0 0;
            border: 1px dashed #AAAAAA;
        }

        td {
            padding: 0px;
        }

        td.relativebeer_img {
            width: 80px;
            padding: 3px auto 3px auto;
            border: solid 1px #999999;
            text-align: center;
        }

        td.relativebeer_name {
            width: 80px;
            padding: 3px;
            font-size: smaller;
        }

        td.relativebeer_img img {
            max-height: 160px;
            padding: 3px auto 3px auto;
        }

        div.image {
            width: 160px;
            text-align: center;
            vertical-align: middle;
            margin: auto;
            padding: auto;
        }

        h4.detail_subhead {
            margin-bottom: 20px;
            margin-top: 10px;
            font-size: 16px;
        }

        h5.detail_subhead {
            margin: 10px 10px;
            font-size: 14px;
        }

        table.relative_items {
            margin-left: 10px;
        }

        td.itemdiscription p {
            line-height: 150%;
        }

        span.trial {
            display: block;
            text-align: center;
            font-weight: bold;
            background: white;
        }

        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
        -->
    </style>



</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-59P6298" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script>
        /*
        jQuery(function($){
            $("select.trial").change(function(){
                var form = $(this).closest("form");
                setCookie("pref_trial", encodeURI( $("#pref_trial").val() ), 365, "/");
                form.children("input[name='q']").attr("value", "ItemDetail");
                form.append($("<input>").attr({type: "hidden", name: "mode", value: "calc"})).submit();
            });
        });
        */
    </script>


    <!-- Header -->
    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        type="text/css">


    <style>
        .right {
            display: none;
        }

        html {
            /*max-width: 950px;*/
            /*min-width:410px;*/
            position: relative;
        }

        body {
            overflow-x: hidden;
        }

        div.catalog {
            /*max-width: 950px;*/

            /*min-width:410px;*/
            /*width : 100%;
  margin : 0px 10px 0px 0px;
  */
        }

        div.container {
            /*max-width: 950px;*/
            /*min-width:410px;*/
            /*width:100%;*/
            padding: 0px;
            /*margin-left : 0;*/
        }

        div.header {
            background-image: url("/images/misc/background_header_back.gif");
            background-repeat: repeat-x;
            background-position: top left;
            /*max-width: 950px;*/
            /*min-width:410px;*/
            width: 100%;
            height: 130px;
            position: sticky;
            z-index: 999;
            top: 0px;
            left: 0px;
        }

        #ex2 .fa-stack[data-count]:after {
            position: absolute;
            right: 0%;
            top: 1%;
            content: attr(data-count);
            font-size: 40%;
            padding: .6em;
            border-radius: 999px;
            line-height: .50em;
            color: white;
            background: rgba(255, 0, 0, .85);
            text-align: center;
            min-width: 10px;
            font-weight: bold;
        }

        .mainnav {
            margin: 0;
            /*max-width: 950px;*/
            /*min-width:410px;*/
            width: 100%;
            background-color: #FCDADC;
            position: sticky;
            z-index: 999;
            top: 130px;
            left: 0px;
        }

        nav {
            margin-top: 20px;
            margin-bottom: 20px;

        }

        nav ul {
            margin: 0;
            padding: 0;
        }

        nav ul li {
            list-style: none;
            display: inline-block;
            text-align: center;
        }

        nav ul li a {
            font-size: 13px;
            text-decoration: none;
            color: #6e6259;
            vertical-align: middle;
        }

        nav ul li a:hover {
            color: #CCC15A;
        }

        div.top {
            position: relative;
            z-index: 1;
        }

        div.top a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-indent: -999px;
            z-index: 2;

        }

        .top-btn {
            position: absolute;
            /*絶対配置*/
            color: white;
            /*文字は白に*/
            top: 10px;
            right: 0px;
            z-index: 3;
        }

        div.top-btn {
            float: left;
            display: -webkit-box;
        }

        .top-btn div {
            display: inline-block;
        }


        span.mainnav-icon {
            font-size: 50px;
        }


        nav.nav-btn ul li {
            margin-left: 10%;
        }

        /*
div.nav-form{
  margin-left: 5%;
}

div.nav-form div{
  margin-left: 2%;
}
*/
        /*レスポンシブ用*/
        @media screen and (max-width:639px) {
            body {
                width: 100%;
                /*max-width: 950px;*/
                /*min-width:410px;*/
            }

            .catalog {
                margin: 0px 10px 0px 5px;
                font-size: smaller;
                width: 90%;
                /*max-width: 950px;*/
                /*min-width:410px;*/
                vertical-align: top;
            }

            div.catalog {
                width: 95%;
                /*max-width: 950px;*/
                /*min-width:410px;*/
            }

            div.container {
                padding: 0px;
                /*margin : 20px;*/
            }

            .top-btn {
                top: 40px;
            }

            span.mainnav-icon {
                font-size: 23px;
            }

            nav.nav-btn {
                /*margin-left: 0;*/
            }

            nav.nav-btn ul li {
                margin-left: 0;
            }

            div.nav-form {
                margin-left: 5%;
            }
        }


        @media screen and (max-width:720px) {
            div.nav-form {
                display: block;
            }
        }

        /*レスポンシブ用ここまで*/
    </style>
    <div class="header">
        <form>
            <input type="hidden" id="cartcount" value="0">
        </form>
        <div class="top">
            <a href="/" title="トップページに戻る">
            </a>
        </div>
        <div class="top-btn">
            <div>
                <span class="fa-stack fa-lg slide-toggle mainnav-icon" style="color:#800000">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-solid fa-search fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div id="ex2">
                <a href="/?q=basketview">
                    <span class="fa-stack fa-lg has-badge mainnav-icon" data-count="" style="color: #800000;">
                        <i id="cbasge" class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div>
                <span class="fa-stack fa-lg slide-toggle mainnav-icon" style="color: #800000;">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fas fa-bars fa-stack-1x fa-inverse"></i>
                </span>
            </div>

            <!--span class="fa-stack fa-lg slide-toggle mainnav-icon" style="color: #800000;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fas fa-bars fa-stack-1x fa-inverse"></i>
        </span>
        <div id="ex2" style="float:left;">
          <a href="/?q=basketview">
            <span class="fa-stack fa-lg has-badge mainnav-icon" data-count="" style="color: #800000;">
              <i id="cbasge" class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div-->
        </div>
    </div>

    <div class="mainnav" style="display:none;">
        <div class="mainnav-contents">
            <div class="clearfix flex">
                <nav class="nav-btn col lg-col-8 md-col-10 sm-col-12 mx-auto">
                    <ul>
                        <li>
                            <a size="2" href="/?q=catalog">
                                <span class="fa-stack fa-sm" style="font-size: 1em; color: #800000;">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-book-open fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a size="2" href="/?q=catalog" style="vertical-align:middle;">商品一覧</a>
                        </li>
                        <li>
                            <a size="2" href="/?q=info">
                                <span class="fa-stack fa-sm" style="font-size: 1em; color: #800000;">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-info fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a size="2" href="/?q=info" style="vertical-align:middle;">ご利用案内</a>
                        </li>
                        <li>
                            <a href="https://sites.google.com/bier.jp/shop" target="_blank">
                                <span class="fa-stack fa-sm" style="font-size: 1em; color: #800000;">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-map-marker-alt fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a size="2" href="https://sites.google.com/bier.jp/shop" style="vertical-align:middle;"
                                target="_blank">店舗</a>
                        </li>
                        <li>
                            <a href="/?q=concierge">
                                <span class="fa-stack fa-sm" style="font-size: 1em; color: #800000;">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <a size="2" href="/?q=concierge" style="vertical-align:middle;">お問合せ</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="clearfix mx-auto nav-form flex p2">
                <div class="style col lg-col-2 md-col-3 sm-col-4 col-6 ml-auto mb2">
                    <img src="/images/misc/headline_style_kara_erabu.png" alt="スタイルから選ぶ">
                    <form method="get" action="/">
                        <input type="hidden" name="q" value="catalogtype">
                        <select name="type" style="width:140px;">
                            <option value="" selected>選んで下さい</option>
                            <option value="">--- Germany (ドイツ) ---</option>
                            <option value="アルト">Alt (アルト)</option>
                            <option value="ベルリナーヴァイセ">Berliner Weisse (ベルリナーヴァイセ)</option>
                            <option value="ボック">Bock (ボック)</option>
                            <option value="ブロイハン">Broyhan (ブロイハン)</option>
                            <option value="ドルトムンダー">Dortmunder (ドルトムンダー)</option>
                            <option value="ドゥンケル">Dunkel (ドゥンケル)</option>
                            <option value="ゴーゼ">Gose (ゴーゼ)</option>
                            <option value="ヘレス">Helles (ヘレス)</option>
                            <option value="ケラービア">Kellerbier (ケラービア)</option>
                            <option value="ケルシュ">Kolsch (ケルシュ)</option>
                            <option value="リヒテンハイナー">Lichtenhainer (リヒテンハイナー)</option>
                            <option value="オクトーバーフェスト">Oktoberfest (オクトーバーフェスト)</option>
                            <option value="ピルスナー">Pils/Pilsener (ピルスナー)</option>
                            <option value="ラオホ">Rauch (ラオホ)</option>
                            <option value="ロートビア">Rotbier/Frankisch (ロートビア)</option>
                            <option value="シュバルツ">Schwarz (シュバルツ)</option>
                            <option value="ヴァイツェン">Weizen/Weisbier (ヴァイツェン)</option>
                            <!--option value="ウィンナーラガー">Wiener Lager (ウィンナーラガー)</option-->
                            <option value="ビアカクテル">ビアカクテル(Radler/Cocktails)</option>
                            <option value="ビールテイスト飲料">ビアテイスト飲料(Alkoholfrei)</option>
                            <option value="">--- US (アメリカ) ---</option>
                            <option value="アメリカンペールエール">American Pale Ale(アメリカンペールエール)</option>
                            <option value="インディアペールエール">American IPA/West Coast IPA(アメリカンIPA)</option>
                            <option value="Hazy IPA ">Hazy IPA/New England IPA(ヘイジーIPA)</option>
                            <option value="">--- UK (イギリス) ---</option>
                            <option value="イングリッシュIPA">IPA/English イングリッシュIPA)</option>
                            <option value="ポーター">Porter (ポーター)</option>
                            <option value="スタウト">Stout (スタウト)</option>
                            <option value="">--- Belgium (ベルギー) ---</option>
                            <option value="ランビック">Lambic (ランビック)</option>
                            <option value="セゾン">Saison (セゾン)</option>
                            <option value="トラピスト">Trappist (トラピスト)</option>
                            <option value="">--- Others (その他) ---</option>
                            <option value="バルチックポーター">Baltic Porter (バルチックポーター)</option>
                        </select><br>
                        <input type="image" src="/images/misc/button_erabu.png" alt="選ぶ">
                    </form>
                    <!--<a href="/?q=style" class="small">ビールのスタイルとは？</a>-->
                </div>
                <div class="maker col lg-col-2 md-col-3 sm-col-4 col-6 ml-auto mb2">
                    <a href="javaScript:treeMenu('search_maker')"><img
                            src="/images/misc/headline_meigara_kara_erabu.png" alt="銘柄から選ぶ"></a>
                    <form method="get" action="/">
                        <input type="hidden" name="q" value="catalogmaker">
                        <select name="maker" style="width:140px;">
                            <option value="" selected>選んで下さい</option>
                            <option value="アルピルスバッハー">アルピルスバッハー(Alpirsbacher)</option>
                            <option value="イェヴァー">イェヴァー(Jever)</option>
                            <option value="ヴァイエンシュテファン">ヴァイエンシュテファン(Weihenstephan)</option>
                            <option value="クルムバッハ">エク(EKU/Kulmbacher)</option>
                            <option value="エルディンガー">エルディンガー(Erdinger)</option>
                            <option value="カーメリテン">カーメリテン(Karmeliten)</option>
                            <option value="ガッフェル">ガッフェル(Gaffel)</option>
                            <option value="クルーリパブリック">クルーリパブリック(Crew Republic)</option>
                            <option value="ケストリッツァー">ケストリッツァー(Kostritzer)</option>
                            <option value="シュナイダー">シュナイダー(Schneider)</option>
                            <option value="シュネーオイレ">シュネーオイレ(Schneeeule)</option>
                            <option value="シュレンケルラ">シュレンケルラ(Schlenkerla)</option>
                            <option value="ツム・ユーリゲ">ツム・ユーリゲ(Zum Uerige)</option>
                            <option value="トゥーハー">トゥーハー(Tucher)</option>
                            <option value="パウラナー">パウラナー(Paulaner)</option>
                            <option value="ビットブルガー">ビットブルガー(Bitburger)</option>
                            <option value="フランチスカーナー">フランチスカーナー(Franziskaner)</option>
                            <option value="プランク">プランク(Plank)</option>
                            <option value="フリュー">フリュー(Fruh)</option>
                            <option value="ヘアトル">ヘアトル(Hertl)</option>
                            <option value="ホフブロイ・ミュンヘン">ホフブロイ(Hofbrau Munchen)</option>
                            <option value="マイセルズ">マイセルズ(Maisels)</option>
                            <option value="リーゲレ">リーゲレ(Riegele)</option>
                            <option value="リッターグーツ">リッターグーツ・ゴーゼ(Ritterguts Gose)</option>
                            <option value="レムケ">レムケ(Lemke)</option>
                            <!--<option value="" selected>選んで下さい</option>-->
                        </select><br>
                        <input type="image" src="/images/misc/button_erabu.png" alt="選ぶ">
                    </form>
                </div>
                <div class="name col lg-col-2 md-col-3 sm-col-4 col-6 ml-auto mb2">
                    <img src="/images/misc/headline_shouhinmei_kara_erabu.png" alt="商品名から選ぶ">
                    <form method="get" action="/">
                        <input type="hidden" name="q" value="catalog">
                        <input type="text" style="width:140px" name="text"><br>
                        <input type="image" src="/images/misc/button_sagasu.png" alt="さがす">
                    </form>
                </div>
                <!--div class="name col lg-col-2 md-col-3 sm-col-4 col-6 ml-auto mb2">
      <img src="/images/misc/headline_sekaino_beer.png" alt="世界のビール"><br />
      <form method="get" action="/">
      <input type="hidden" name="q" value="catalog">
      <select name="state" style="width:140px;">
      <option value="" selected>選んで下さい</option>
      <option value="アメリカ">アメリカ</option>
      <option value="イギリス">イギリス</option>
      <option value="イスラエル">イスラエル</option>
      <option value="イタリア">イタリア</option>
      <option value="インド">インド</option>
      <option value="インドネシア">インドネシア</option>
      <option value="エストニア">エストニア</option>
      <option value="オーストラリア">オーストラリア</option>
      <option value="オーストリア">オーストリア</option>
      <option value="オランダ">オランダ</option>
      <option value="カナダ">カナダ</option>
      <option value="ギリシャ">ギリシャ</option>
      <option value="スイス">スイス</option>
      <option value="スペイン">スペイン</option>
      <option value="スリランカ">スリランカ</option>
      <option value="シンガポール">シンガポール</option>
      <option value="タイ">タイ</option>
      <option value="チェコ">チェコ</option>
      <option value="デンマーク">デンマーク</option>
      <option value="フィリピン">フィリピン</option>
      <option value="フィンランド">フィンランド</option>
      <option value="フランス">フランス</option>
      <option value="ベトナム">ベトナム</option>
      <option value="ベルギー">ベルギー</option>
      <option value="ポルトガル">ポルトガル</option>
      <option value="マルタ共和国">マルタ共和国</option>
      <option value="メキシコ">メキシコ</option>
      <option value="韓国">韓国</option>
      <option value="台湾">台湾</option>
      <option value="南アフリカ">南アフリカ</option>
      </select><br />
      <input type="image" src="/images/misc/button_erabu.png" alt="えらぶ" />
      </form>
      </div-->
                <div class="name col lg-col-2 md-col-3 sm-col-4 col-6 ml-auto">
                    <a href="/?q=state"><img src="/images/misc/icon_chizu_kara_sagasu.png" alt="地図から探す"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".slide-toggle").click(function () {
                var chk = $(".mainnav").css("display");
                $(".mainnav").animate({
                    height: "toggle"
                });
                if (chk == "none") {
                    $(".mainnav").fadeIn().css("display", "inline-block");
                }
            });
            $('.has-badge').attr('data-count', document.getElementById('cartcount').value);
            if (document.getElementById('cartcount').value == 0) {
                $('#ex2').removeAttr('id')
            }

        });
    </script>
    <!-- Body -->

    <div class="right">
        <!---->
        <div class="basket">
            <form method="get" action="/?q=basketview&ReturnPath=/itemdetail/Zx012i">
                <input type="image" src="/images/misc/headline_kaimono_kago.gif" alt="買い物カゴの中身">
                <br>
                <div class="cart">

                    <div class="total"> </div>
                </div>

                <input type="hidden" name="q" value="basketview">
                <input type="hidden" name="ReturnPath" value="/itemdetail/Zx012i">
                <input type="image" src="/images/misc/button_nakamiwo_miru.gif" alt="中身を見る">
            </form>
            <span class="small">
            </span>
        </div>
        <!---->
        <br>
        <div class="style">
            <img src="/images/misc/headline_style_kara_erabu.png" alt="スタイルから選ぶ">
            <form method="get" action="/">
                <input type="hidden" name="q" value="catalogtype">
                <select name="type" style="width:140px;">
                    <option value="" selected>選んで下さい</option>
                    <option value="">--- ドイツ ---</option>
                    <option value="ヴァイツェン">ヴァイツェン(Weizen/Weisbier)</option>
                    <option value="ケルシュ">ケルシュ(Kolsch)</option>
                    <option value="アルト">アルト(Alt)</option>
                    <option value="ベルリナーヴァイセ">ベルリナーヴァイセ(Berliner Weisse)</option>
                    <option value="ゴーゼ">ゴーゼ(Gose)</option>
                    <option value="ピルスナー">ピルスナー(Pils)</option>
                    <option value="ドルトムンダー">ドルトムンダー(Dortmunder)</option>
                    <option value="ボック">ボック(Bock)</option>
                    <option value="ヘレス">ヘレス(Helles)</option>
                    <option value="ドゥンケル">ドゥンケル(Dunkel)</option>
                    <option value="シュバルツ">シュバルツ(Schwarz)</option>
                    <option value="ラオホ">ラオホ(Rauch)</option>
                    <option value="ロートビア">ロートビア(Rotbier/Frankisch)</option>
                    <option value="ケラービア">ケラービア(Kellerbier)</option>
                    <option value="オクトーバーフェスト">オクトーバーフェスト(Oktoberfest)</option>
                    <option value="ウィンナーラガー">ウィンナーラガー(Wiener Lager)</option>
                    <option value="ビアカクテル">ビアカクテル(Radler/Cocktails)</option>
                    <option value="ビールテイスト飲料">ビアテイスト飲料(Alkoholfrei)</option>
                    <option value="">--- イギリス ---</option>
                    <option value="イングリッシュIPA">イングリッシュIPA(English IPA)</option>
                    <option value="ポーター">ポーター(Porter)</option>
                    <option value="スタウト">スタウト(Stout)</option>
                    <option value="">--- ベルギー ---</option>
                    <option value="セゾン">セゾン(Saison)</option>
                    <option value="ランビック">ランビック(Lambic)</option>
                    <option value="トラピスト">トラピスト(Trappist)</option>
                    <option value="">--- その他 ---</option>
                    <option value="バルチックポーター">バルチックポーター(Baltic Porter)</option>
                </select><br>
                <input type="image" src="/images/misc/button_erabu.png" alt="選ぶ">
            </form>
            <a href="/?q=style" class="small">ビールのスタイルとは？</a><br>
        </div>
        <br>
        <div class="maker">
            <a href="javaScript:treeMenu('search_maker')"><img src="/images/misc/headline_meigara_kara_erabu.png"
                    alt="銘柄から選ぶ"></a>
            <form method="get" action="/">
                <input type="hidden" name="q" value="catalogmaker">
                <select name="maker" style="width:140px;">
                    <option value="" selected>選んで下さい</option>
                    <option value="アルピルスバッハー">アルピルスバッハー(Alpirsbacher)</option>
                    <option value="イェヴァー">イェヴァー(Jever)</option>
                    <option value="ヴァイエンシュテファン">ヴァイエンシュテファン(Weihenstephan)</option>
                    <option value="ヴァルシュタイナー">ヴァルシュタイナー(Warsteiner)</option>
                    <option value="ヴェルテンブルガー">ヴェルテンブルガー(Weltemburger)</option>
                    <option value="クルムバッハ">エク(EKU/Kulmbacher)</option>
                    <option value="エルディンガー">エルディンガー(Erdinger)</option>
                    <option value="カーメリテン">カーメリテン(Karmeliten)</option>
                    <option value="ガッフェル">ガッフェル(Gaffel)</option>
                    <option value="クルーリパブリック">クルーリパブリック(Crew Republic)</option>
                    <option value="クロンバッハ">クロンバッハ(Krombacher)</option>
                    <option value="ケストリッツァー">ケストリッツァー(Kostritzer)</option>
                    <option value="シェッファーホッファー">シェッファーホッファー(Schofferhofer)</option>
                    <option value="シュナイダー">シュナイダー(Schneider)</option>
                    <option value="シュパーテン">シュパーテン(Spaten)</option>
                    <option value="シュネーオイレ">シュネーオイレ(Schneeeule)</option>
                    <option value="シュレンケルラ">シュレンケルラ(Schlenkerla)</option>
                    <option value="ダブ">ダブ(DAB)</option>
                    <option value="ツム・ユーリゲ">ツム・ユーリゲ(Zum Uerige)</option>
                    <option value="トゥーハー">トゥーハー(Tucher)</option>
                    <option value="パウラナー">パウラナー(Paulaner)</option>
                    <option value="ビットブルガー">ビットブルガー(Bitburger)</option>
                    <option value="フェルティンス">フェルティンス(Veltins)</option>
                    <option value="ブデルシップ">ブデルシップ(Buddelship)</option>
                    <option value="フランチスカーナー">フランチスカーナー(Franziskaner)</option>
                    <option value="プランク">プランク(Plank)</option>
                    <option value="フレンスブルガー">フレンスブルガー(Flensburger)</option>
                    <option value="フリュー">フリュー(Fruh)</option>
                    <option value="ヘアトル">ヘアトル(Hertl)</option>
                    <option value="ベックス">ベックス(Becks)</option>
                    <option value="ベルロ">ベルロ(BRLO)</option>
                    <option value="ホフブロイ・ミュンヘン">ホフブロイ(Hofbrau Munchen)</option>
                    <option value="マイセルズ">マイセルズ(Maisels)</option>
                    <option value="ラーデベルガー">ラーデベルガー(Radeberger)</option>
                    <option value="リーゲレ">リーゲレ(Riegele)</option>
                    <option value="レムケ">レムケ(Lemke)</option>
                    <!--<option value="" selected>選んで下さい</option>-->
                </select><br>
                <input type="image" src="/images/misc/button_erabu.png" alt="選ぶ">
            </form>
        </div>
        <br>
        <div class="name">
            <img src="/images/misc/headline_shouhinmei_kara_erabu.png" alt="商品名から選ぶ">
            <form method="get" action="/">
                <input type="hidden" name="q" value="catalog">
                <input type="text" name="text"><br>
                <input type="image" src="/images/misc/button_sagasu.png" alt="さがす">
            </form>
        </div>
        <br>

        <div class="name">
            <img src="/images/misc/headline_sekaino_beer.png" alt="世界のビール"><br />
            <form method="get" action="/">
                <input type="hidden" name="q" value="catalog">
                <select name="state" style="width:140px;">
                    <option value="" selected>選んで下さい</option>
                    <option value="アメリカ">アメリカ</option>
                    <option value="イギリス">イギリス</option>
                    <option value="イスラエル">イスラエル</option>
                    <option value="イタリア">イタリア</option>
                    <option value="インド">インド</option>
                    <option value="インドネシア">インドネシア</option>
                    <option value="エストニア">エストニア</option>
                    <option value="オーストラリア">オーストラリア</option>
                    <option value="オーストリア">オーストリア</option>
                    <option value="オランダ">オランダ</option>
                    <option value="カナダ">カナダ</option>
                    <option value="ギリシャ">ギリシャ</option>
                    <option value="スイス">スイス</option>
                    <option value="スペイン">スペイン</option>
                    <option value="スリランカ">スリランカ</option>
                    <option value="シンガポール">シンガポール</option>
                    <option value="タイ">タイ</option>
                    <option value="チェコ">チェコ</option>
                    <option value="デンマーク">デンマーク</option>
                    <option value="フィリピン">フィリピン</option>
                    <option value="フィンランド">フィンランド</option>
                    <option value="フランス">フランス</option>
                    <option value="ベトナム">ベトナム</option>
                    <option value="ベルギー">ベルギー</option>
                    <option value="ポルトガル">ポルトガル</option>
                    <option value="マルタ共和国">マルタ共和国</option>
                    <option value="メキシコ">メキシコ</option>
                    <option value="韓国">韓国</option>
                    <option value="台湾">台湾</option>
                    <option value="南アフリカ">南アフリカ</option>
                </select><br />
                <input type="image" src="/images/misc/button_erabu.png" alt="えらぶ" />
            </form>
        </div>
        <br>
        <div class="name">
            <a href="/?q=state"><img src="/images/misc/icon_chizu_kara_sagasu.png" alt="地図から探す"></a>
        </div>
        <br>
        <!--div class="name">
<a href="/?q=info#mailmagazine"><img src="/images/misc/icon_mailmagazine_subscribe.png" alt="メールマガジン購読希望"></a>
</div>
<br><br-->
        <div class="name">
            <a href="https://www.humeia.co.jp/" target="_blank"><img src="/images/misc/banner_humeia_120x60.gif"
                    alt="インターネットに信頼と安心を 株式会社ヒューメイア" border="0" height="60" width="120"></a><br>
            <br>
            <a href="https://www.humeia.co.jp/domain.shtml" target="_blank"><img
                    src="/images/misc/banner_domainforbiz_120x60.gif" alt="信頼＋低価格のドメイン管理・登録 Domain4.biz" border="0"
                    height="60" width="120"></a><br>
            <br>

            <a href="https://www.humeia.co.jp/hosting.shtml" target="_blank"><img
                    src="/images/misc/banner_hosting_120x60.gif" alt="ホスティング" border="0" height="60"
                    width="120"></a><br>
            <br>
            <a href="http://startssl.jp/" target="_blank"><img src="/images/misc/banner_startssl_120x60.gif"
                    alt="スタートSSL" border="0" height="60" width="120"></a><br>
            <br>
        </div>
        <img src="/images/misc/background_right_bottom.gif" alt="end" class="bottom">
    </div>


    <div class="catalog">
        <div class="container mx-auto">
            <h2 style="border-top : solid 1px #AAAAAA;font-size : 150%;padding-top:3px;">【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン</h2>
            <h4 style="border-bottom : solid 1px #AAAAAA;font-size : 120%;padding-bottom:3px;">Hofbräu Hefe Weizen</h4>
            <!-- 
  <div style="border:solid 2px red; border-radius: 0.4em; width=90%; text-align: left; margin: 4px; padding: 2px;"></div>
   -->
            <table style="width: 100%;">
                <tr>
                    <td>
                        <!--td rowspan="4" valign="middle"-->
                        <!--div class="image"-->
                        <div>
                            <img src="/images/beeroriginal/zx-012.jpg" alt="【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン" align=left
                                style="margin: 10px;">
                            <!--img src="/images/beeroriginal/zx-012.jpg" alt="【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン" align=left style="vertical-align:top;padding:auto;margin-top:10%;"-->
                        </div>
                        <!--/td>
   </tr>
   <tr>
    <td valign="bottom" class="iteminfo"-->
                        <!--
	 
	 <img src="/images/misc/icon_souryou_muryou.png" alt="送料無料" title="送料無料">
	 
	 
	 <img src="/images/misc/icon_newitem.png" alt="新着商品" title="新たに取り扱い開始しました">
	 
	 
	 <p><b>[希少商品]</b></p>
	 
	 
	 <p><b>[定温熟成商品]</b></p>
	 
	 -->
                        <!--/td>
   </tr>
   <tr>
    <td class="itemdiscription"-->
                        <p>
                            1612年バイエルン王国時代に２００年間、王室が独占的に醸造を行い400年近くたった今も美味しさと人気を誇るミュンヘンNo.1のヴァイスビール。<br>
                            厳選吟味した繊細で上質な小麦麦芽と良質なホップのシャープでスパイシーな味わいは、まさにヴァイスビールの王様です。<br>少し濁った琥珀色。バナナのようでもあり、かつスパイシーなアロマを使用しています。ミディアムボディーな仕上がりで、苦味が少ないのが特徴です。<br>
                            <br><b>※画像はイメージとなり、グラスは付きません。</b><br>

                            <br>▼ホフブロイ専用グラス・ジョッキもご用意しておりますので、ご覧ください！<br>
                            　専用グラス：「<a href="https://bier.jp/itemdetail/Gx070">300ml</a>」
                            「<a href="https://bier.jp/itemdetail/Gx071">500ml</a>」<br>

                            　専用ジョッキ：「<a href="https://bier.jp/itemdetail/Gx040">300ml</a>」
                            「<a href="https://bier.jp/itemdetail/Gx041">500ml</a>」
                            「<a href="https://bier.jp/itemdetail/Gx042">1000ml</a>」<br>

                            <br>◎ケース売りは→「<a href="https://bier.jp/itemdetail/Zx012"> こちら </a>」となります。<br>

                            <br><b>※こちらのページはバラ売り専用となっており、本数は1本から承ることが出来ます。(同一梱包が可能な場合送料は自動調整されます。)</b><br>

                            <br><b>※賞味期限：製造日から12ヶ月</b><br>
                            <br><br><br><b>この商品にはお得なケース売りもあります。<br>→<a href="/itemdetail/Zx012">ホフブロイ
                                    ヘーフェ　ヴァイツェン</a></b>
                        </p>
                        <!--
	 
	 <p><br><br><b>限定商品や製造終了品など希少商品のため、賞味期限や外観の不具合、状態に関わらず通常販売しています。記載内容をご確認の上ご購入ください。</b></p>
	 
	 -->
                        <!--
	 
	 <p><br><br><b>熟成を楽しむために定温保管を行っている商品です。賞味期限表示はヴィンテージ確認のために行っています。ご理解いただける場合のみご購入いただけます。</b></p>
	 
	 -->
                    </td>
                </tr>
                <tr>
                    <td class="column_spec">

                        <table style="position:relative;float:left; width: 100%;max-width: 600px;">
                            <tr>
                                <td class="spec_column">在庫</td>
                                <td class="spec_column"> : <b>
                                        <font color="red">◎</font>
                                    </b><!--<b><font color="red">◎</font></b>--><!-- 42本 --></td>
                            </tr>
                            <tr>
                                <td class="spec_column">容量</td>
                                <td class="spec_column"> : 330ml</td>
                            </tr>
                            <tr>
                                <td class="spec_column">1箱入数(購入単位)</td>
                                <!--td  class="spec_column"> : 1本</td-->
                                <td class="spec_column"> : 1本</td>
                            </tr>
                            <tr>
                                <td class="spec_column">アルコール</td>
                                <td class="spec_column"> : 5.1%</td>
                            </tr>
                            <tr>
                                <td class="spec_column">スタイル</td>
                                <td class="spec_column"> : ヴァイツェン</td>
                            </tr>
                            <tr>
                                <td class="spec_column">生産地</td>
                                <td class="spec_column"> : バイエルン州</td>
                            </tr>
                            <!--tr>
       <td  class="spec_column">1本あたり</td>
       <td  class="spec_column"> : ￥508（税込)</td>
      </tr-->
                            <tr>
                                <td class="spec_column">販売価格</td>
                                <td class="spec_column"> : ￥508（税込)</td>
                            </tr>
                            <tr>
                                <td class="spec_column">購入上限</td>
                                <td class="spec_column"> : </td>
                            </tr>
                            <tr>
                                <td class="spec_column">JAN/EAN</td>
                                <td class="spec_column"> : 400568604201</td>
                            </tr>
                            <tr>
                                <td class="spec_column">賞味期限</td>
                                <td class="spec_column"> : 2026/04/02</td>
                            </tr>
                            <tr>
                                <td class="spec_column">原材料</td>
                                <td class="spec_column"> : </td>
                            </tr>
                            <tr>
                                <td class="spec_column" colspan=2><br><br>[配送について] <br>
                                    <b>
                                        <font color="#ff0000">11/19(水)は出荷休業日となります。(翌木曜日もお休みです)</font>
                                    </b><br>
                                    <br>
                                    平日(月～金)午前9時までの入金で翌営業日までに出荷(毎週木曜日・GW・年末年始・お盆を除く)<br>
                                    <br>
                                    [送料について]
                                    <br>
                                    買い物かごに入れると本数に応じて自動計算され送料が表示されます。
                                    <br>
                                    <br>
                                    <br>
                                    この商品は店舗購入も可能です。<br>→<a href="https://sites.google.com/bier.jp/shop"
                                        target="_blank">店舗案内はこちら</a>
                                </td>
                            </tr>
                        </table>

                        <div class="putonthecart">
                            <form action="/index.cgi" method="POST">
                                <h2>￥508/本 </h4>
                                    <h3>購入する</h3>
                                    <!--p>【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン</p--><!--span>￥508(一箱あたり)</span-->
                                    <input type="hidden" name="q" value="basketview">
                                    <input type="hidden" name="id" value="Zx012i">
                                    <input type="hidden" name="ReturnPath" value="/itemdetail/Zx012i">
                                    <input type="hidden" name="bottle" value="0">
                                    数量<select class="trial" style="font-size: 120%; font-weight: bold;" name="box">
                                        <option value="1">1
                                        <option value="2">2
                                        <option value="3">3
                                        <option value="4">4
                                        <option value="5">5
                                        <option value="6">6
                                        <option value="7">7
                                        <option value="8">8
                                        <option value="9">9
                                        <option value="10">10
                                        <option value="11">11
                                        <option value="12">12
                                        <option value="13">13
                                        <option value="14">14
                                        <option value="15">15
                                        <option value="16">16
                                        <option value="17">17
                                        <option value="18">18
                                        <option value="19">19
                                        <option value="20">20
                                        <option value="21">21
                                        <option value="22">22
                                        <option value="23">23
                                        <option value="24">24
                                    </select>本
                                    <!--br-->

                                    <!--span style="font-size:smaller;">注文方法は<a href="/?q=info">こちら</a></span-->
                                    <p><!--
	 <select name="pref_trial" id="pref_trial" class="trial">
            <OPTION VALUE="">都道府県</option>
            <option value="北海道">北海道</option>
            <option value="青森県">青森県</option>
            <option value="岩手県">岩手県</option>
            <option value="宮城県">宮城県</option>
            <option value="秋田県">秋田県</option>
            <option value="山形県">山形県</option>
            <option value="福島県">福島県</option>
            <option value="茨城県">茨城県</option>
            <option value="栃木県">栃木県</option>
            <option value="群馬県">群馬県</option>
            <option value="埼玉県">埼玉県</option>
            <option value="千葉県">千葉県</option>
            <option value="東京都" selected>東京都</option>
            <option value="神奈川県">神奈川県</option>
            <option value="山梨県">山梨県</option>
            <option value="長野県">長野県</option>
            <option value="新潟県">新潟県</option>
            <option value="富山県">富山県</option>
            <option value="石川県">石川県</option>
            <option value="福井県">福井県</option>
            <option value="岐阜県">岐阜県</option>
            <option value="静岡県">静岡県</option>
            <option value="愛知県">愛知県</option>
            <option value="三重県">三重県</option>
            <option value="滋賀県">滋賀県</option>
            <option value="京都府">京都府</option>
            <option value="大阪府">大阪府</option>
            <option value="兵庫県">兵庫県</option>
            <option value="奈良県">奈良県</option>
            <option value="和歌山県">和歌山県</option>
            <option value="鳥取県">鳥取県</option>
            <option value="島根県">島根県</option>
            <option value="岡山県">岡山県</option>
            <option value="広島県">広島県</option>
            <option value="山口県">山口県</option>
            <option value="徳島県">徳島県</option>
            <option value="香川県">香川県</option>
            <option value="愛媛県">愛媛県</option>
            <option value="高知県">高知県</option>
            <option value="福岡県">福岡県</option>
            <option value="佐賀県">佐賀県</option>
            <option value="長崎県">長崎県</option>
            <option value="熊本県">熊本県</option>
            <option value="大分県">大分県</option>
            <option value="宮崎県">宮崎県</option>
            <option value="鹿児島県">鹿児島県</option>
            <option value="沖縄県">沖縄県</option>
	 </select> への送料（概算）<span class="trial">846円～</span><br>-->
                                        <button type="submit"
                                            onclick='$zoho.salesiq.visitor.customaction("Add to cart 【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン")'
                                            alt="Add to cart(買い物かごへ)"
                                            class="application-button application-button-submit" style="padding: 0px;">
                                            <i class="fa fa-shopping-cart"></i>
                                            買い物かごへ
                                        </button>
                                    </p>
                            </form>
                            <p>
                                <span id="favorite" onclick="favoritechange();"></span>
                            </p>
                        </div>
                    </td>
                </tr>
            </table>



            <div id="app" class="mb4">
                <div v-for="item in contents" class="contents-wrap mt3" style="min-height:150px">
                    <h1 class="contents-title">{{item.title}}</h1>
                    <img class="tag_contents ml1 mb1 mt1" v-if="item.img != null" :src="item.img" alt="" />
                    <p class="mb1 mt1" v-html=item.caption>
                    </p>
                    <p>
                        投稿者：{{item.writer}}
                    </p>
                </div>
            </div>
            <style>
                .contents-title {
                    border-bottom: solid 1px black;
                }

                .contents-wrap {
                    margin-top: 30px;
                }

                .tag_contents {
                    max-width: 30%;
                    max-height: 150px;
                    float: right;
                    shape-margin: 5px;
                }
            </style>



        </div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style" style="clear:both;float:right;"
            addthis:url="https://bier.jp/itemdetail/Zx012i" addthis:title="【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <!-- AddThis Button END -->
    </div>

    <div class="catalog">
        <div class="container2">
            <div id="itemhistory" class="clearfix" style="overflow: hidden;"></div>
            <script>
                if (window.localStorage) {
                    const hist = JSON.parse(localStorage.getItem("itemhistory")) || [];
                    const maxhist = 4;
                    let count = 0;
                    let imagelist = '<hr><h4 class="detail_subhead">閲覧履歴</h4>';
                    for (const id of hist) {
                        if (count < maxhist) {
                            imagelist += '<div style="float:left; width:24%"><a href="https://bier.jp/itemdetail/' + id.itemid + '"><img src="https://bier.jp/images/beeroriginal/' + id.image + '" style="width:90%;padding:3px auto 3px auto;"><br>' + id.name + '</div>';
                            count++;
                        }
                        else {
                            break;
                        }
                    }
                    if (hist.length) {
                        document.getElementById("itemhistory").innerHTML = imagelist;
                        while ((hist.findIndex((d) => d.itemid === "Zx012i")) > -1) {
                            hist.splice(hist.findIndex((d) => d.itemid === "Zx012i"), 1);
                        }
                    }
                    hist.unshift({ itemid: "Zx012i", image: "zx-012.jpg", name: "【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン" });
                    while (hist.length > 10) {
                        hist.pop();
                    }
                    localStorage.setItem("itemhistory", JSON.stringify(hist));
                }
            </script>
            <hr>
            <div class="iteminfoplus">
                <h4 class="detail_subhead">関連する商品</h4>

                <h5 class="detail_subhead">同じ種類の商品</h5>
                <span style="margin:10px;">同じ種類 : <a href="/?q=catalogmaker&amp;text=ヴァイツェン">ヴァイツェン</a> の商品です。<a
                        href="/?q=catalogmaker&amp;text=ヴァイツェン">すべて見る</a></span>

                <table class="relative_items">
                    <tr>

                        <td class="relativebeer_img">
                            <a href="/itemdetail/Nx121i"><img src="/images/beeroriginal/nx-121.jpg"
                                    alt="【※バラ売り】ピンカス ヴァイツェン"></a>
                        </td>

                        <td class="relativebeer_img">
                            <a href="/itemdetail/Kx600"><img src="/images/beeroriginal/kx-600.jpg"
                                    alt="プランク ヘフェ ヴァイツェン（20本）"></a>
                        </td>

                        <td class="relativebeer_img">
                            <a href="/itemdetail/Dx126i"><img src="/images/beeroriginal/dx-126.jpg"
                                    alt="【※バラ売り】トゥーハー ヘレス ヘーフェ ヴァイツェン[500ml]"></a>
                        </td>

                    </tr>
                    <tr>

                        <td class="relativebeer_name">
                            <a href="/itemdetail/Nx121i">【※バラ売り】ピンカス ヴァイツェン</a>
                        </td>

                        <td class="relativebeer_name">
                            <a href="/itemdetail/Kx600">プランク ヘフェ ヴァイツェン（20本）</a>
                        </td>

                        <td class="relativebeer_name">
                            <a href="/itemdetail/Dx126i">【※バラ売り】トゥーハー ヘレス ヘーフェ ヴァイツェン[500ml]</a>
                        </td>

                    </tr>
                </table>


                <h5 class="detail_subhead">同じ醸造所の商品</h5>
                <span style="margin:10px;">同じ銘柄 : <a href="/?q=catalogmaker&amp;text=ホフブロイ・ミュンヘン">ホフブロイ・ミュンヘン</a>
                    の商品です。<a href="/?q=catalogmaker&amp;text=ホフブロイ・ミュンヘン">すべて見る</a></span>

                <table class="relative_items">
                    <tr>

                        <td class="relativebeer_img">
                            <a href="/itemdetail/Zx011"><img src="/images/beeroriginal/zx-011.jpg"
                                    alt="ホフブロイ オリジナル"></a>
                        </td>

                        <td class="relativebeer_img">
                            <a href="/itemdetail/Gx070"><img src="/images/beeroriginal/gx-070.jpg"
                                    alt="ホフブロイ 300ml 専用グラス"></a>
                        </td>

                        <td class="relativebeer_img">
                            <a href="/itemdetail/Gx042"><img src="/images/beeroriginal/gx-042.jpg"
                                    alt="ホフブロイ 1000ml専用ジョッキ"></a>
                        </td>

                    </tr>
                    <tr>

                        <td class="relativebeer_name">
                            <a href="/itemdetail/Zx011">ホフブロイ オリジナル</a>
                        </td>

                        <td class="relativebeer_name">
                            <a href="/itemdetail/Gx070">ホフブロイ 300ml 専用グラス</a>
                        </td>

                        <td class="relativebeer_name">
                            <a href="/itemdetail/Gx042">ホフブロイ 1000ml専用ジョッキ</a>
                        </td>

                    </tr>
                </table>

            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                contents: '',
            },
            mounted: function () {
                //var url="https://bier.jp/api.php?tag=HofbruHefeWeizen";
                var url = "https://bier.jp/api.php?tag=HofbruHefeWeizen&timestamp=" + new Date().getTime();
                var self = this;
                axios
                    .get(url)
                    .then(function (response) {
                        self.contents = response.data
                    })
            }
        })
    </script>
    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script>
        var db = new Dexie("favorite");
        db.version(1).stores({
            favorite: 'itemid,sec'
        });
        var favadded = '<br><i class="far fa-heart" style="color: #f00000;"></i>お気に入り追加済';
        var addfav = '<br><i class="fas fa-heart" style="color: #f00000;"></i>お気に入りに追加';
        var favel = document.getElementById("favorite");
        db.favorite.get("Zx012i").then(function (item) {
            if (item) {
                favel.innerHTML = favadded;
            }
            else {
                favel.innerHTML = addfav;
            }
        });
        function favoritechange() {
            db.favorite.get("Zx012i").then(function (item) {
                if (item) {
                    db.favorite.delete("Zx012i").then(function () {
                        favel.innerHTML = addfav;
                    });
                }
                else {
                    db.favorite.put({ itemid: "Zx012i", sec: Date.now(), image: "zx-012.jpg", name: "【※バラ売り】ホフブロイ ヘーフェ　ヴァイツェン" }).then(function () {
                        favel.innerHTML = favadded;
                        fetch("https://bier.jp/api.cgi/favorite/Zx012i", { method: 'PUT' }).then((res) => {
                            return (res.json());
                        })
                            .then((json) => {
                                console.log(json);
                            });
                    });
                }
            });
        }
    </script>
    <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f38755e78152fa8"
        defer></script>
    <div style="text-align: center;">
        <p style="padding: 4px;">[運営会社: <a href="https://www.humeia.co.jp/" target="_blank">株式会社ヒューメイア</a> (<a
                href="https://www.invoice-kohyo.nta.go.jp/regno-search/detail?selRegNo=4010001086785"
                target="_blank">T4010001086785</a>)]</p>
        <p style="padding: 4px;">[<a href="https://sites.google.com/bier.jp/shop" target="_blank">店舗案内</a> | <a
                href="/?q=info#tokutei">特定商取引法</a> | <a href="/?q=info#law">酒類販売管理者</a>]</p>
    </div>
    <div class="footer-space" style="height: 5rem;"></div>
    <script type="text/javascript">
        var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq ||
            { widgetcode: "0bf76927f8a29829541ae8903863f9f39aba39edcb7620010cd5ee8fb5f0e2e3", values: {}, ready: function () { $zoho.salesiq.visitor.info({ "SessionID": "yIEFHG4uRy0ghdBNTaLwgA" }); } };
        var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true;
        s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
    </script>
    <button id="scrollToTop" onclick="scrollToTop()">&#8593;</button>

    <style>
        #scrollToTop {
            display: none;
            position: fixed;
            bottom: 10px;
            right: 20px;
            width: 60px;
            height: 60px;
            color: #ffffff;
            background-color: #800000;
            border: none;
            border-radius: 50%;
            text-align: center;
            font-size: 55px;
            overflow: hidden;
            cursor: pointer;
            z-index: 999;
        }

        #scrollToTop:hover {
            background-color: #555;
        }
    </style>

    <script>
        function scrollToTop() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
        }

        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            var scrollToTopButton = document.getElementById("scrollToTop");
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scrollToTopButton.style.display = "block";
            } else {
                scrollToTopButton.style.display = "none";
            }
        }
    </script>

</body>

</html>